%p#notice= notice

%p
  %b User:
  = @user.email
%p
  %b Date:
  = @reservation.date
%p
  %b Start time:
  = @reservation.start_time
%p
  %b Seats:
  = @reservation.seats

%p= link_to 'Destroy', @reservation, :method => :delete, :data => { :confirm => 'Are you sure?' }

