<%- model_class = Restaurant -%>
<div ng-controller="mapController" class="ng-scope">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <%= search_form_for @search do |f| %>
    <p>
      <%= f.label :name_cont %>
      <%= f.text_field :name_cont %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <map zoom="11">
    <marker position="current" centered="true" on-click="foo()"></marker>
  </map>
  {{restaurants}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:lng) %></th>
        <th><%= model_class.human_attribute_name(:lat) %></th>
        <th><%= model_class.human_attribute_name(:price) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>

      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= link_to restaurant.id, restaurant_path(restaurant) %></td>
          <td id="name"><%= restaurant.name %></td>
          <td id="lng"><%= restaurant.lng %></td>
          <td id="lat"><%= restaurant.lat %></td>
          <td><%= restaurant.price %></td>
          <td><%= link_to t('.show', :default => t("helpers.links.show")),
                      restaurant_path(restaurant), :class => 'btn btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.restaurant %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
             edit_restaurant_path(current_user.restaurant), :class => 'btn btn-primary' %>
  <% elsif current_user.role == "manager" %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_restaurant_path,
            :class => 'btn btn-primary' %>
  <% end %>
</div>
