<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Lng:</b>
  <%= @restaurant.lng %>
</p>

<p>
  <b>Lat:</b>
  <%= @restaurant.lat %>
</p>

<p>
  <b>Price:</b>
  <%= @restaurant.price %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
