%p#notice= notice

%p
  %b Name:
  = @image.name
%p
  %b Picture:
  = image_tag @image.picture_url
%p
  %b Description:
  = @image.description
%p
  %b User:
  = @image.user_id

= link_to 'Edit', edit_image_path(@image)

= link_to 'Back', images_path
